/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 25.08.2016
 * Author: aglovlyuk@gmail.co
 */
.progress {
  background: #a2602b;
  -webkit-box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.37), 1px 2px 2px rgba(255, 255, 255, 0.37);
          box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.37), 1px 2px 2px rgba(255, 255, 255, 0.37);
}

.progress-bar-skill {
  background: -webkit-gradient(linear, left top, left bottom, from(#e0b283), to(#cb7e4d));
  background: -webkit-linear-gradient(top, #e0b283 0%, #cb7e4d 100%);
  background: linear-gradient(to bottom, #e0b283 0%, #cb7e4d 100%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

.btn {
  border: none;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-promo {
  padding: 18px 20px;
  text-transform: uppercase;
}

.btn-red {
  background: -webkit-gradient(linear, left top, left bottom, from(#ca8181), to(#a94f4f));
  background: -webkit-linear-gradient(top, #ca8181 0%, #a94f4f 100%);
  background: linear-gradient(to bottom, #ca8181 0%, #a94f4f 100%);
}

.btn-green {
  background: -webkit-gradient(linear, left top, left bottom, from(#81c355), to(#4f9d48));
  background: -webkit-linear-gradient(top, #81c355 0%, #4f9d48 100%);
  background: linear-gradient(to bottom, #81c355 0%, #4f9d48 100%);
}

.btn-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#48b4b5), to(#2c8587));
  background: -webkit-linear-gradient(top, #48b4b5 0%, #2c8587 100%);
  background: linear-gradient(to bottom, #48b4b5 0%, #2c8587 100%);
}

.btn-portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(#8dbf5d), to(#59983a));
  background: -webkit-linear-gradient(top, #8dbf5d 0%, #59983a 100%);
  background: linear-gradient(to bottom, #8dbf5d 0%, #59983a 100%);
  padding: 5px 15px;
  min-width: 130px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.btn-portfolio.btn-pressed {
  background: #4d872e;
}

.btn-pressed {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset;
}

body {
  padding-top: 127px;
}

@media (min-width: 768px) {
  body {
    padding-top: 85px;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 85px;
  }
}

.shadow-panel {
  position: relative;
  overflow: hidden;
}

.shadow-panel:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: '';
  z-index: 10;
  top: -14px;
  display: block;
  width: 1000px;
  height: 14px;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.nav-select {
  color: #000;
  width: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: Helvetica;
}

.header {
  z-index: 999;
  padding-top: 20px;
}

.header:after {
  content: '';
  position: absolute;
  background: #333;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: '';
  z-index: -1;
  bottom: 0;
  display: block;
  width: 1000px;
  height: 14px;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.header .navbar {
  margin-bottom: 0;
}

.header .navbar-header {
  position: relative;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .header .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.header .navbar-brand {
  height: auto;
}

.header .main-nav {
  text-transform: uppercase;
}

.promo {
  overflow: hidden;
  background: url(../images/bg-promo-l.jpg) 50% 0;
  padding-top: 70px;
  padding-bottom: 35px;
  position: relative;
  z-index: 0;
}

@media (min-width: 992px) {
  .promo:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(162px);
        -ms-transform: translateX(162px);
            transform: translateX(162px);
    right: -9999px;
    background: url(../images/bg-promo-gray.jpg);
    z-index: -1;
  }
  .promo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    width: 276px;
    background: url(../images/bg-promo-gray-angle.png);
    -webkit-transform: translateX(162px);
        -ms-transform: translateX(162px);
            transform: translateX(162px);
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .promo {
    padding-top: 90px;
    padding-bottom: 68px;
  }
}

@media (min-width: 992px) {
  .promo {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.promo .promo-right {
  padding-left: 40px;
}

.promo .proffesion {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

.promo .proffesion__decor {
  display: inline-block;
  position: relative;
  padding: 0 13px;
}

.promo .proffesion__decor:before, .promo .proffesion__decor:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: '';
  height: 5px;
  border: solid #b3e4ff;
  border-width: 1px 0;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.14) inset, 0 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px rgba(0, 0, 0, 0.14) inset, 0 1px rgba(0, 0, 0, 0.14);
  left: 100%;
  right: -999px;
}

.promo .proffesion__decor:before {
  right: 100%;
  left: -999px;
}

.promo .ava {
  display: inline-block;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.58);
          box-shadow: 0 5px 16px rgba(0, 0, 0, 0.58);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  padding: 7px;
  background: #e0e0e0;
}

@media (min-width: 992px) {
  .promo .ava {
    padding: 12px;
  }
}

.promo .ava:before {
  content: '';
  position: absolute;
  border: 10px solid rgba(255, 255, 255, 0.51);
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (min-width: 992px) {
  .promo .ava:before {
    border-width: 15px;
    left: 11px;
    right: 11px;
    bottom: 11px;
    top: 11px;
  }
}

.promo .ava__img {
  max-width: 238px;
}

@media (min-width: 992px) {
  .promo .ava__img {
    max-width: 100%;
  }
}

.about {
  overflow: hidden;
  background: url(../images/bg-about.jpg) 50% 0;
  position: relative;
  z-index: 0;
}

@media (min-width: 992px) {
  .about:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 50%;
    left: -9999px;
    -webkit-transform: translateX(-299px);
        -ms-transform: translateX(-299px);
            transform: translateX(-299px);
    background: url(../images/bg-about-gray.jpg);
    z-index: -1;
  }
  .about:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    right: -9999px;
    width: 337px;
    -webkit-transform: translateX(-299px);
        -ms-transform: translateX(-299px);
            transform: translateX(-299px);
    background: url(../images/bg-about-gray-angle.png);
    z-index: -1;
  }
}

@media (min-width: 1201px) {
  .about:before {
    -webkit-transform: translateX(-316px);
        -ms-transform: translateX(-316px);
            transform: translateX(-316px);
  }
  .about:after {
    -webkit-transform: translateX(-316px);
        -ms-transform: translateX(-316px);
            transform: translateX(-316px);
  }
}

.about .about-right {
  padding: 0 30px 30px 30px;
}

@media (min-width: 992px) {
  .about .about-right {
    padding-left: 140px;
  }
}

.about .progress-legend-value {
  float: right;
}

.about .experience-item {
  border-left: 5px solid #848484;
  padding-left: 18px;
}

@media (min-width: 992px) {
  .about .experience-item {
    width: 380px;
  }
}

.about .experience-item:not(:last-child) {
  margin-bottom: 50px;
}

.about .experience-item .experience-title {
  font-weight: 700;
}

.about-left {
  position: relative;
  z-index: 0;
  min-height: 500px;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .about-left:before {
    content: '';
    position: absolute;
    top: -0;
    bottom: 0px;
    right: -9999px;
    left: -9999px;
    background: url(../images/bg-about-gray.jpg);
    z-index: -1;
  }
}

.portfolio {
  overflow: hidden;
  background: url(../images/bg-portfolio.jpg) 50% 0;
  position: relative;
  z-index: 0;
}

@media (min-width: 992px) {
  .portfolio:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
            transform: translateX(-90px);
    right: -9999px;
    background: url(../images/bg-portfolio-gray.jpg);
    z-index: -1;
  }
  .portfolio:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 50%;
    width: 276px;
    -webkit-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
            transform: translateX(-90px);
    background: url(../images/bg-portfolio-gray-angle.png);
    z-index: -1;
    background-position: 100% 0;
  }
}

@media (min-width: 1201px) {
  .portfolio:before {
    -webkit-transform: translateX(-108px);
        -ms-transform: translateX(-108px);
            transform: translateX(-108px);
  }
  .portfolio:after {
    -webkit-transform: translateX(-108px);
        -ms-transform: translateX(-108px);
            transform: translateX(-108px);
  }
}

@media (max-width: 991px) {
  .portfolio .portfolio-btn-container {
    display: inline-block;
  }
}

.portfolio .portfolio-btn-container:not(:last-child) {
  margin-bottom: 20px;
  margin-right: 20px;
}

.portfolio .portfolio-item {
  margin-bottom: 40px;
  width: 200px;
  margin: 0 auto 40px auto;
}

@media (min-width: 992px) {
  .portfolio .portfolio-item {
    width: auto;
  }
}

.portfolio .portfolio-item img {
  margin-bottom: 20px;
  -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);
}

.portfolio .portfolio-left {
  padding-bottom: 40px;
}

.portfolio .portfolio-right {
  position: relative;
  z-index: 0;
  padding-top: 80px;
}

@media (min-width: 992px) {
  .portfolio .portfolio-right {
    padding-left: 150px;
  }
}

@media (max-width: 991px) {
  .portfolio .portfolio-right:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    right: -9999px;
    left: -9999px;
    background: url(../images/bg-portfolio-gray.jpg);
    z-index: -1;
  }
}

.portfolio .porfolio-title {
  display: block;
  overflow: hidden;
  /*width: 200px;*/
}

.portfolio .porfolio-title__decor {
  display: inline-block;
  position: relative;
  padding: 0 13px;
}

.portfolio .porfolio-title__decor:before, .portfolio .porfolio-title__decor:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: '';
  border-top: solid #b3e4ff;
  border-width: 1px 0;
  left: 100%;
  right: -999px;
}

.portfolio .porfolio-title__decor:before {
  right: 100%;
  left: -999px;
}

.testimonials {
  overflow: hidden;
  background: url(../images/bg-testimonials.jpg) 50% 0;
  position: relative;
  z-index: 0;
  padding-bottom: 100px;
}

@media (min-width: 992px) {
  .testimonials:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 50%;
    left: -9999px;
    -webkit-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
            transform: translateX(-200px);
    background: url(../images/bg-testimonials-gray.jpg);
    z-index: -1;
  }
  .testimonials:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    right: -9999px;
    width: 245px;
    -webkit-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
            transform: translateX(-200px);
    background: url(../images/bg-testimonials-gray-angle.png);
    z-index: -1;
  }
}

@media (min-width: 1201px) {
  .testimonials:before {
    -webkit-transform: translateX(-290px);
        -ms-transform: translateX(-290px);
            transform: translateX(-290px);
  }
  .testimonials:after {
    -webkit-transform: translateX(-290px);
        -ms-transform: translateX(-290px);
            transform: translateX(-290px);
  }
}

.testimonials .slick-arrow {
  position: absolute;
  border: 0;
  z-index: 999;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.testimonials .slick-prev {
  background: url(../images/arrow-left.png);
  bottom: -50px;
  right: 50%;
  -webkit-transform: translate(-15px);
      -ms-transform: translate(-15px);
          transform: translate(-15px);
}

@media (min-width: 992px) {
  .testimonials .slick-prev {
    left: -40px;
    bottom: inherit;
    right: inherit;
    top: 50%;
    -webkit-transform: translate(0, -30px);
        -ms-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
}

.testimonials .slick-next {
  background: url(../images/arrow-right.png);
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(15px);
      -ms-transform: translate(15px);
          transform: translate(15px);
}

@media (min-width: 992px) {
  .testimonials .slick-next {
    right: -40px;
    bottom: inherit;
    left: inherit;
    top: 50%;
    -webkit-transform: translate(0, -30px);
        -ms-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
}

.testimonials .testimonial-item {
  max-width: 90%;
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
  margin-left: 30px;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item {
    max-width: 400px;
  }
}

.testimonials .testimonial-item:before {
  content: '"';
  font-size: 30pt;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: -10px;
}

.contact {
  overflow: hidden;
  background: url(../images/bg-contact.jpg) 50% 0;
  position: relative;
  z-index: 0;
}

@media (min-width: 992px) {
  .contact:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-56px);
        -ms-transform: translateX(-56px);
            transform: translateX(-56px);
    right: -9999px;
    background: url(../images/bg-contact-gray.jpg);
    z-index: -1;
  }
  .contact:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 50%;
    width: 324px;
    -webkit-transform: translateX(-56px);
        -ms-transform: translateX(-56px);
            transform: translateX(-56px);
    background: url(../images/bg-contact-gray-angle.png);
    z-index: -1;
    background-position: 100% 0;
  }
}

@media (min-width: 1201px) {
  .contact:before {
    -webkit-transform: translateX(-144px);
        -ms-transform: translateX(-144px);
            transform: translateX(-144px);
  }
  .contact:after {
    -webkit-transform: translateX(-144px);
        -ms-transform: translateX(-144px);
            transform: translateX(-144px);
  }
}

.contact input {
  width: 217px;
}

.contact textarea {
  width: 300px;
}

.contact .form-control {
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.contact .contact-map {
  width: 300px;
  height: 190px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .contact .contact-map {
    width: 375px;
    height: 240px;
  }
}

@media (min-width: 992px) {
  .contact .contact-map {
    width: 600px;
    height: 380px;
  }
}

.contact .contact-container {
  display: inline-block;
}

.contact .contact-container:not(:last-child) {
  margin-right: 40px;
}

.contact .contact-right {
  padding-top: 40px;
}
