/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 25.08.2016
 * Author: aglovlyuk@gmail.co
 */
.progress {
  background: #a2602b;
  -webkit-box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.37), 1px 2px 2px rgba(255, 255, 255, 0.37);
          box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.37), 1px 2px 2px rgba(255, 255, 255, 0.37);
}

.progress-bar-skill {
  background: -webkit-gradient(linear, left top, left bottom, from(#e0b283), to(#cb7e4d));
  background: -webkit-linear-gradient(top, #e0b283 0%, #cb7e4d 100%);
  background: linear-gradient(to bottom, #e0b283 0%, #cb7e4d 100%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

.btn {
  padding: 18px 20px;
  text-transform: uppercase;
}

.btn-danger {
  background: -webkit-gradient(linear, left top, left bottom, from(#ca8181), to(#a94f4f));
  background: -webkit-linear-gradient(top, #ca8181 0%, #a94f4f 100%);
  background: linear-gradient(to bottom, #ca8181 0%, #a94f4f 100%);
}

.btn-success {
  background: -webkit-gradient(linear, left top, left bottom, from(#81c355), to(#4f9d48));
  background: -webkit-linear-gradient(top, #81c355 0%, #4f9d48 100%);
  background: linear-gradient(to bottom, #81c355 0%, #4f9d48 100%);
}

body {
  padding-top: 127px;
}

@media (min-width: 768px) {
  body {
    padding-top: 157px;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 157px;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 85px;
  }
}

.shadow-panel {
  position: relative;
  overflow: hidden;
}

.shadow-panel:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: '';
  z-index: 10;
  top: -14px;
  display: block;
  width: 1000px;
  height: 14px;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.header {
  padding-top: 25px;
  padding-bottom: 8px;
  z-index: 999;
}

.header:after {
  content: '';
  position: absolute;
  background: #333;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: '';
  z-index: -1;
  bottom: 0;
  display: block;
  width: 1000px;
  height: 14px;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.header .navbar {
  margin-bottom: 0;
}

.header .main-nav {
  text-transform: uppercase;
}

.promo {
  overflow: hidden;
  background: url(../images/bg-promo-l.jpg) 50% 0;
  padding-top: 50px;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .promo {
    padding-top: 90px;
    padding-bottom: 68px;
  }
}

@media (min-width: 992px) {
  .promo {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.promo .promo-right {
  position: relative;
  z-index: 0;
}

@media (min-width: 992px) {
  .promo .promo-right:after {
    content: '';
    position: absolute;
    top: -80px;
    bottom: -90px;
    left: 34px;
    right: -9999px;
    background: url(../images/bg-promo-gray-r.jpg);
    z-index: -1;
  }
  .promo .promo-right:before {
    content: '';
    position: absolute;
    top: -80px;
    bottom: -90px;
    left: -242px;
    width: 276px;
    background: url(../images/bg-promo-gray-angle.png);
    z-index: -1;
  }
}

.promo .proffesion {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

.promo .proffesion__decor {
  display: inline-block;
  position: relative;
  padding: 0 13px;
}

.promo .proffesion__decor:before, .promo .proffesion__decor:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: '';
  height: 5px;
  border: solid #b3e4ff;
  border-width: 1px 0;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.14) inset, 0 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px rgba(0, 0, 0, 0.14) inset, 0 1px rgba(0, 0, 0, 0.14);
  left: 100%;
  right: -999px;
}

.promo .proffesion__decor:before {
  right: 100%;
  left: -999px;
}

.promo .ava {
  display: inline-block;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.58);
          box-shadow: 0 5px 16px rgba(0, 0, 0, 0.58);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  padding: 7px;
  background: #e0e0e0;
}

@media (min-width: 992px) {
  .promo .ava {
    padding: 12px;
  }
}

.promo .ava:before {
  content: '';
  position: absolute;
  border: 10px solid rgba(255, 255, 255, 0.51);
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 7px;
  right: 7px;
  bottom: 7px;
  top: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (min-width: 992px) {
  .promo .ava:before {
    border-width: 15px;
    left: 11px;
    right: 11px;
    bottom: 11px;
    top: 11px;
  }
}

.promo .ava__img {
  max-width: 238px;
}

@media (min-width: 992px) {
  .promo .ava__img {
    max-width: 100%;
  }
}

.about {
  overflow: hidden;
  background: url(../images/bg-about-r.jpg) 50% 0;
}

.about .about-left {
  position: relative;
  z-index: 0;
  min-height: 500px;
  padding-bottom: 50px;
}

.about .about-left:after {
  content: '';
  position: absolute;
  top: -18px;
  bottom: 0;
  right: -9999px;
  left: -9999px;
  background: url(../images/bg-about-grey-l.jpg);
  z-index: -1;
}

@media (min-width: 992px) {
  .about .about-left:after {
    right: 60px;
  }
}

@media (min-width: 992px) {
  .about .about-left:before {
    content: '';
    position: absolute;
    top: -18px;
    bottom: 0px;
    right: -116px;
    width: 337px;
    background: url(../images/bg-about-gray-angle.png);
    z-index: -1;
  }
}

.about .about-right {
  padding-left: 125px;
}

.about .progress-legend-value {
  float: right;
}

.about .experience-item {
  border-left: 5px solid #848484;
  width: 380px;
  padding-left: 18px;
}

.about .experience-item:not(:last-child) {
  margin-bottom: 50px;
}

.about .experience-item .experience-title {
  font-weight: 700;
}

.portfolio {
  overflow: hidden;
  background: url(../images/bg-portfolio-l.jpg) 50% 0;
}

.portfolio .portfolio-right {
  position: relative;
  z-index: 0;
  min-height: 750px;
  margin-top: 50px;
  padding-left: 65px;
}

@media (min-width: 768px) {
  .portfolio .portfolio-right:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 52px;
    top: -50px;
    right: -9999px;
    background: url(../images/bg-portfolio-grey-r.jpg);
    z-index: -1;
  }
  .portfolio .portfolio-right:before {
    content: '';
    position: absolute;
    top: -80px;
    bottom: -90px;
    left: -214px;
    width: 276px;
    background: url(../images/bg-portfolio-gray-angle.png);
    z-index: -1;
    background-position: 100% 0;
  }
}

.testimonials {
  overflow: hidden;
  background: url(../images/bg-testimonials-r.jpg) 50% 0;
}

.contact {
  overflow: hidden;
  background: url(../images/bg-contact-l.jpg) 50% 0;
  padding-bottom: 50px;
}

.contact .form-control {
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.contact input {
  width: 217px;
}

.contact textarea {
  width: 300px;
}
