/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 25.08.2016
 * Author: aglovlyuk@gmail.co
 */

$breakpoints: (
	'screen-xs': 480px,
	'screen-sm': 768px,
	'screen-md': 992px,
	'screen-lg': 1200px
);
// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'base/include-media';

@import "bootstrap-custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@import 'buttons';

body{
	padding-top: 127px;
	@include media('>=screen-sm'){
		padding-top: 85px;
	}
	@include media('>=screen-md'){
		padding-top: 85px;
	}
}

.shadow-panel{
	position: relative;
	overflow: hidden;
	&:before{
		@include xcenter;
		content: '';
		z-index: 10;
		top: -14px;
		display: block;
		width: 1000px;
		height: 14px;
		box-shadow: 0 5px 6px rgba(0,0,0,0.5);
		border-radius: 50%;
	}
}

.nav-select{
		color: #000;
		width:100%;
		border-radius:4px;
		font-family: Helvetica;
	}


.header{
	z-index: 999;
	padding-top: 20px;
	&:after{
		content: '';
		position: absolute;
		background: $body-bg;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	&:before{
		@include xcenter;
		content: '';
		z-index: -1;
		bottom: 0;
		display: block;
		width: 1000px;
		height: 14px;
		box-shadow: 0 5px 6px rgba(0,0,0,0.5);
		border-radius: 50%;
	}
	.navbar{
		margin-bottom: 0;
	}
	.navbar-header{
		position: relative;
		padding-bottom: 30px;
			}
	.logo{
		@include media('<screen-sm'){
			@include xcenter;
		}
	}
	.navbar-brand{
		height: auto;
	}
	
	.main-nav{
		text-transform: uppercase;
	}
}


.promo{
	overflow: hidden;
	background: url(../images/bg-promo-l.jpg) 50% 0;
	padding-top: 70px;
	padding-bottom: 35px;
	position: relative;
	z-index: 0;
	@include media('>=screen-md'){
		&:after{
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 50%;
			transform: translateX(162px);
			right: -9999px;
			background: url(../images/bg-promo-gray.jpg);
			z-index: -1;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 50%;
			width: 276px;
			background: url(../images/bg-promo-gray-angle.png);
			transform: translateX(162px);
			z-index: -1;
		}
	}
	@include media('>=screen-sm'){
		padding-top: 90px;
		padding-bottom: 68px;
	}
	@include media('>=screen-md'){
		padding-top: 80px;
		padding-bottom: 90px;
	}
	.promo-right{
		padding-left: 40px;
	}
	.proffesion{
		display: block;
		overflow: hidden;
		margin-bottom: 15px;
	}
	.proffesion__decor{
		display: inline-block;
		position: relative;
		padding: 0 13px;
		&:before,
		&:after{
			@include ycenter;
			content: '';
			height: 5px;
			border: solid #b3e4ff;
			border-width: 1px 0;
			box-shadow: 0 1px rgba(#000, .14) inset, 0 1px rgba(#000, .14);
			left: 100%;
			right: -999px;
		}
			&:before{
			right: 100%;
			left: -999px;
			}
		}
		.ava{
		display: inline-block;
		border: 2px solid #fff;
		box-shadow: 0 5px 16px rgba(#000, .58);
		border-radius: 50%;
		position: relative;
		padding: 7px;
		background:#e0e0e0;
		@include media('>=screen-md'){
			padding: 12px;
			}
		&:before{
			content: '';
			position: absolute;
			border: 10px solid rgba(#fff, .51);
			left: 7px;
			right: 7px;
			bottom: 7px;
			top: 7px;
			border-radius: 50%;
			left: 7px;
			right: 7px;
			bottom: 7px;
			top: 7px;
			border-radius: 50%;
			@include media('>=screen-md'){
				border-width: 15px;
				left: 11px;
				right: 11px;
				bottom: 11px;
				top: 11px;
				}
			}
		}
		.ava__img{
	max-width: 238px;
	@include media('>=screen-md'){
		max-width: 100%;
		}
	}
}


.about{
	overflow: hidden;
	background: url(../images/bg-about.jpg) 50% 0;
	position: relative;
	z-index: 0;
	@include media('>=screen-md'){	
		&:before{
				content: '';
				position: absolute;
				top: 0px;
				bottom: 0;
				right: 50%;
				left: -9999px;
				transform: translateX(-299px);
				background: url(../images/bg-about-gray.jpg);
				z-index: -1;
		}
		&:after{
				content: '';
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 50%;
				right: -9999px;
				width: 337px;
				transform: translateX(-299px);
				background: url(../images/bg-about-gray-angle.png);
				z-index: -1;
				}
		}
	@include media('>screen-lg'){	
		&:before{
			transform: translateX(-316px);
		}
		&:after{
			transform: translateX(-316px);
			}
		}

	.about-right{
		padding: 0 30px 30px 30px;
		@include media('>=screen-md'){	
			padding-left: 140px;
		}
	}
	.progress-legend-value{
		float: right;
	}

	.experience-item{
		border-left: 5px solid #848484;

		@include media('>=screen-md'){
			width: 380px;
		}
		padding-left: 18px;
		&:not(:last-child){
				margin-bottom: 50px;
			}

			.experience-date{
				
			}
			.experience-title{
				font-weight: 700;
			}
		
		}
	}

	.about-left{
		position: relative;
		z-index: 0;
		min-height: 500px;
		padding-bottom: 50px;

		@include media('<screen-md'){
			&:before{
				content: '';
				position: absolute;
				top: -0;
				bottom: 0px;
				right: -9999px;
				left: -9999px;
				background: url(../images/bg-about-gray.jpg);
				z-index: -1;

			}
		}
	}


.portfolio{
	overflow: hidden;
	background: url(../images/bg-portfolio.jpg) 50% 0;
	position: relative;
	z-index: 0;
	@include media('>=screen-md'){
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			top: 0;
			left: 50%;
			transform: translateX(-90px);
			right: -9999px;
			background: url(../images/bg-portfolio-gray.jpg);
			z-index: -1;
		}
			
		&:before{
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0px;
			right:50%;
			width: 276px;
			transform: translateX(-90px);
			background: url(../images/bg-portfolio-gray-angle.png);
			z-index: -1;
			background-position: 100% 0;
			}
		}
		@include media('>screen-lg'){	
			&:before{
				transform: translateX(-108px);
			}
			&:after{
				transform: translateX(-108px);
			}
		}


	.portfolio-btn-container{
		@include media('<screen-md'){
			display: inline-block;
		}
		&:not(:last-child){
			margin-bottom: 20px;
			margin-right: 20px;
		}
	}
	.portfolio-item {
		margin-bottom: 40px;
		width: 200px;
		margin: 0 auto 40px auto;
		@include media('>=screen-md'){
			width: auto;
		}
		
		img{
			margin-bottom: 20px;
			box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);
		}
	}
	.portfolio-left{
		padding-bottom: 40px;
	}
	.portfolio-right{
		position: relative;
		z-index: 0;
		padding-top: 80px;
		@include media('>=screen-md'){
			padding-left: 150px;
		}
		@include media('<screen-md'){
			&:before{
				content: '';
				position: absolute;
				top: 0;
				bottom: 0px;
				right: -9999px;
				left: -9999px;
				background: url(../images/bg-portfolio-gray.jpg);
				z-index: -1;

			}
		}
	}

	.porfolio-title{
		display: block;
		overflow: hidden;
		/*width: 200px;*/
	}
	.porfolio-title__decor{
		display: inline-block;
		position: relative;
		padding: 0 13px;
		&:before,
		&:after{
			@include ycenter;
			content: '';
			border-top: solid #b3e4ff;
			border-width: 1px 0;
			left: 100%;
			right: -999px;
		}
		&:before{
		right: 100%;
		left: -999px;
		}
	}
	.portfolio-category{

	}
}





.testimonials{
	overflow: hidden;
	background: url(../images/bg-testimonials.jpg) 50% 0;
	position: relative;
	z-index: 0;
	padding-bottom: 100px;
	@include media('>=screen-md'){	
		&:before{
				content: '';
				position: absolute;
				top: 0px;
				bottom: 0;
				right: 50%;
				left: -9999px;
				transform: translateX(-200px);
				background: url(../images/bg-testimonials-gray.jpg);
				z-index: -1;
		}
		&:after{
				content: '';
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 50%;
				right: -9999px;
				width: 245px;
				transform: translateX(-200px);
				background: url(../images/bg-testimonials-gray-angle.png);
				z-index: -1;
				}
		}
	@include media('>screen-lg'){	
		&:before{
			transform: translateX(-290px);
		}
		&:after{
			transform: translateX(-290px);
			}
		}

	.slick-arrow{
		position: absolute;
		border: 0;
		z-index: 999;
		text-indent: -9999px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}
	.slick-prev{
		background: url(../images/arrow-left.png);
		bottom: -50px;
		right: 50%;
		transform: translate(-15px);
		@include media('>=screen-md'){
			left: -40px;
			bottom: inherit;
			right: inherit;
			top:50%;
			transform: translate(0, -30px);
		}
		
	}
	.slick-next{
		background: url(../images/arrow-right.png);
		bottom: -50px;
		left: 50%;
		transform: translate(15px);
		@include media('>=screen-md'){
			right: -40px;
			bottom: inherit;
			left: inherit;
			top:50%;
			transform: translate(0, -30px);
		}
	}
	.testimonial-item{
		max-width: 90%;
		position: relative;
		padding-left: 40px;
		padding-top: 20px;
		margin-left: 30px;
		@include media('>=screen-md'){
			max-width: 400px;
		}
		&:before{
			content: '"';
			font-size: 30pt;
			font-weight: 700;
			position: absolute;
			left: 0;
			top: -10px;
		}
	}

}

.contact{
	overflow: hidden;
	background: url(../images/bg-contact.jpg) 50% 0;
	position: relative;
	z-index: 0;
	@include media('>=screen-md'){
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			top: 0;
			left: 50%;
			transform: translateX(-56px);
			right: -9999px;
			background: url(../images/bg-contact-gray.jpg);
			z-index: -1;
		}
			
		&:before{
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0px;
			right:50%;
			width: 324px;
			transform: translateX(-56px);
			background: url(../images/bg-contact-gray-angle.png);
			z-index: -1;
			background-position: 100% 0;
			}
		}
		@include media('>screen-lg'){	
			&:before{
				transform: translateX(-144px);
			}
			&:after{
				transform: translateX(-144px);
			}
		}

	input{
		width: 217px;
	}
	textarea{
		width: 300px;
	}

	


	.form-control{
		margin-bottom: 15px;
		border-radius: 10px;
	}

	
	.contact-map{
		width: 300px;
		height: 190px;
		margin-top: 40px;
		@include media('>=screen-sm'){
			width: 375px;
			height: 240px;
		}

		@include media('>=screen-md'){
			width: 600px;
			height: 380px;
		}
	}

	.contact-container{
		display: inline-block;
		&:not(:last-child){
			margin-right: 40px;
		}
	}
	.contact-right{
		padding-top: 40px;

	}
}


